@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

*{
    font-family:'Tiro Telugu', serif;
    color: aliceblue;
}
h1{
    border: 2px solid aliceblue;
  text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
}

#imagen1{
    margin-right: 30px;
    width: 523px;
    height: 300px;
}
#imagen2{
    margin-right: 30px;
    width: 523px;
    height: 300px;
}
#imagen3{
    margin-right: 30px;
    width: 523px;
    height: 300px;
}
.sede2{
    margin-top: 40px;
}

.sede3{
    margin-top: 40px;
}

#cuerpo{
    background: url("../imagenes/gim.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before{
    
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    background: linear-gradient(rgb(77, 30, 118), black);
    opacity: 0.75;
    z-index: -1;
   
}