@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
    margin:0px;
    box-sizing: border-box;
}
.navegacion{
    width: 1000px;
    background-color: #a1d8d6;
    margin:30px auto;
}
.navegacion ul{
list-style: none;
}
.menu>li{
    position: relative;  
    display: inline-block; 
}
.menu>li>a{
    display:block;
    padding: 15px 20px;
    color:rgb(23, 233, 107);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu li a:hover{
    background-color: rgb(251, 101, 15);
    color: rgb(110, 255, 153);
    transition:all 0.3s;
}
.Submenu{
    position: absolute;
    background-color: #a1d8d6;
    width: 110%;
    visibility: hidden;
    opacity: 0;
}
.Submenu li a{
    text-decoration: none;
    display:block;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu li:hover .Submenu{
    visibility:visible;
    opacity:1;
}

/*Esta parte es para el Menu con logo*/

#Encabezado{
    width: 100%;
    height:70px; 
    background-color: #7ea5a4;
}
.Ancho{
    background-color:#7ea5a4;
    width: 80%;
    margin: auto;
    height: 70px;
}
.Logo{
    background-color:#7ea5a4;
    height:70px;
    width: 30%;
    float:left;
}
#Navegar{
    width:70%;
    height:70px;
    background-color: #7ea5a4;
    float:left;
    text-align:right;
    padding:24px;
}
.Logo p a{
    color:white;
    font-size: 40px;
    padding-top: 10px;
    text-decoration: none;
}

 /*Esta parte es para alinear el logo con el texto*/
#ambos{
    float:left;
    display:inline-flex;
}
#Navegar ul li{
    display:inline; 
}
#Navegar ul li a{
    color:white; 
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
#cuerpo{
    background-image:url("../Imagenes/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-color: #a1d8d6;
}
/*body::before{
    content:""; 
    width: 100%;
    min-height: 100vh;
    position: absolute; 
    top:0px;
    left:0px;
    background: #a1d8d6;
    opacity:0.5; 
    z-index: -1;
}*/
#nosotras{
    background-color: #7ea5a4;

}

/*Esta parte es la de servicios*/
/*Carrusel de imagenes*/
.slider{
    width:95%;
    margin:auto;
    overflow:hidden;
}
.slider ul{
    display:flex;
    padding:0;
    width:300%;

    animation:cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}
.slider li{
    list-style:none;
    width:100%;
}
.slider img{
    width:100%;
}
@keyframes cambio{
    0%{ margin-left: 0;}
    20%{margin-left: 0;}

    25%{ margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
  
    /*75%{margin-left: -300%;}
    100%{margin-left: -300%;} Esto lo comento para que quede bien el tiempo
    y las imagenes, no lo borro por si queremos agregar mas imagenes*/
}

/*Esta parte es para las cajas con info de servicios*/
#S1, #S2, #S3, #S4{
	display:block;
	background-color:#ee5f64;
	width:95%;
	height:60%;
	padding:20px 10px 5px 15px;
	/*padding:top;right;bottom;left*/
	text-align:center;
	margin: 15px 25px;
    border-radius: 30px;
    position:relative;
    color:white;
    font-size:35px;
}
.cajas{
    color:rgb(0, 0, 0);
    text-align: center;
    margin:50px;
    background-color:#ebb6b8;
    border-radius: 30px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    width: 96%;
    text-align: justify;
}
/*Cada imagen y cada parrafo lo tengo que encerrar en un div*/
/*#S1F,#S3F {
    width: 480px;
    height:320px;
    float:right;
}*/
/*#S2F,#S4F{
    width: 240px;
    height:160px; 
    float:left;   
}*/
#S1F{
    width: 20%;
    float:right;
    margin-left: 15px;
}

#S2F{
    float:left;  
    width: 20%; 
}






/*Un tamaño bueno para las imagenes es widht:240px y height:160px*/

/*.cajas{
	width:100px;
	height:100px;
	background-color:pink;
	position:relative;
	left:10px;
	top:50px;
}*/

/*#ambos{
    margin:10px auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}*/


/*Esta parte es de contacto*/
/*Formulario*/
.formulario{
    position:relative;
    padding-right: 50%;
}
form{
    width: 600px;
    margin: auto;
    background-color:#ee5f64aa;
    padding: 10px 20px;
    border-radius: 7px;
}
h2{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 15px;
    border: none;
}
textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 15px;
    border: none;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    padding:20px;
    color: white;
    background-color:#e64b50;
}
#boton:hover{
    cursor: pointer;
}
.formulario{
    margin-top: 20px;
}
/*Esta parte es para el mapa*/
.mapa{   
    position:relative;
    padding-left: 50%;
    margin-top: -500px;
}
/*Esta parte es para el link a instagram*/
.ig{
	display:block;
	background-color:#ee5f64;
	width:95%;
	height:10%;
	padding:15px 10px 5px 15px;
	/*padding:top;right;bottom;left*/
	text-align:center;
	margin: 100px 25px;
    border-radius: 30px;
    position:relative;
    color:white;
    font-size:35px;
    text-decoration: none;
    line-height: 35px;
}
#nombre{
    text-decoration: none;
    color: white;
}
/*Esta parte es para las cjas de comprar*/
#C1, #C2, #C3, #C4, #C5{
	display:block;
	background-color:#ee5f64;
	/*width:95%;
	height:60%;*/
	padding:20px 10px 5px 15px;
	/*padding:top;right;bottom;left*/
	text-align:center;
	margin: 15px 25px;
    border-radius: 30px;
    position:relative;
    color:white;
    font-size:35px;
}
#C1:hover{
    cursor: pointer;
    background-color: rgba(81, 26, 210, 0.3);
    transition: 0.2s;
    background-color: #e59396;
}
#C2:hover{
    cursor: pointer;
    background-color: rgba(81, 26, 210, 0.3);
    transition: 0.2s;
    background-color: #e59396;
}
#C3:hover{
    cursor: pointer;
    background-color: rgba(81, 26, 210, 0.3);
    transition: 0.2s;
    background-color: #e59396;
}
#C4:hover{
    cursor: pointer;
    background-color: rgba(81, 26, 210, 0.3);
    transition: 0.2s;
    background-color: #e59396;
}
#C5:hover{
    cursor: pointer;
    background-color: rgba(81, 26, 210, 0.3);
    transition: 0.2s;
    background-color: #e59396;
}

.comprar{
    color:rgb(0, 0, 0);
    text-align: center;
    margin:50px;
    background-color:#a1d8d6;
    border-radius: 30px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.comprar .esmalte img{
    width:220px;
    height: 300px;
    padding-top: 25px;
}
.comprar .esmalte h3{
    width:220px;
    height:40px;
    text-align: center;
    line-height: 1px;
}

/*Esta parte es para el logo de arriba*/
#laga{
    /*  max-width: 100%;
      max-height: 80%;*/
      object-fit: contain;
  padding-bottom: 170px;
}  

/*Esta parte es para los a de comprar*/
#Q{
    text-decoration: none;
    color: white;
}